# Este es un archivo de ejemplo de variables de entorno.
# La empresa o el equipo de TI debe crear un archivo llamado `.env`
# basado en este archivo cuando vayan a poner la página en producción (en un dominio).

# IMPORTANTE: Cambiar la SECRET_KEY por una nueva en producción y no compartirla.
SECRET_KEY=django-insecure-pon-aqui-una-clave-secreta-fuerte-en-produccion

# En producción (cuando tenga su propio dominio), esto debe ser False.
# En desarrollo (en tu computadora), esto debe ser True.
DEBUG=False

# Los dominios permitidos. Separados por comas.
# Ejemplo: ALLOWED_HOSTS=everestglobal360.com,www.everestglobal360.com
ALLOWED_HOSTS=127.0.0.1,localhost

# Base de datos (Descomentar y rellenar en Producción/cPanel)
# DATABASE_URL=mysql://usuario:contraseña@localhost:3306/nombre_base_datos
