# Entorno virtual
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Django
*.log
db.sqlite3
db.sqlite3-journal
staticfiles/

# Media uploads
media/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Sistema operativo
Thumbs.db
.DS_Store

# Variables de entorno
.env
